<!DOCTYPE html>
<html>
<head>
	<title>Secret Santa</title>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css"> <!--Browser reset-->
	<link rel="stylesheet" href="/assets/css/styles.css" type="text/css"> <!--External Style Sheet-->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<meta name="viewport" content="width=device-width, initial-scale=1"> <!--Ensure proper rendering and touch zooming-->
</head>
<body>

	<!--NAVBAR-->
	<div class="container-fluid">
		<div class="row">

			<nav class="navbar navbar-custom">
				<div class="navbar-header">
					<a class="navbar-brand" href="#" style="color:white"><%= user.username %></a>
				</div>
				<!--Links to home, login page, signup page-->
				<ul class="nav navbar-nav">
	        		<li class="active"><a href="/profile" style="color:white">Profile</a></li>			
	        	</ul>
				<ul class="nav navbar-nav navbar-right">
	        		<li><a href="/logout" style="color:blue">Logout</a></li>			
	        	</ul>
			</nav>

		</div>
	</div>

	<!--JUMBOTRON-->
	<div class="row">
		<div class="jumbotron">
			
			<div class="row">
				<div class="col-sm-offset-3 col-sm-6">
					<div class="well text-center" style="border-radius:70px">
						<h1>Welcome, <%= user.firstName %>!</h1>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-offset-2 col-sm-8">
					<div class="well" style="border-radius:30px">
						<p class="text-center">First, enter some basic information about the group</p>
						<!--Our user-specific information-->
						<form action="/creategroup" method="post">
							<div class="form-group">
								<label for="location">Location</label>
								<input type="text" class="form-control" name="location" id="location" placeholder="Location" required>
								<label for="budget">Budget</label>
								<input type="text" class="form-control" name="budget" id="budget" placeholder="$XX.XX" required>
							</div>

							<button type="submit" id="form-button" class="btn btn-primary btn-md">Create Group</button>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>

	<!--FOOTER-->
	<div class="container-fluid">
		<div class="row">
			<footer class="footer text-center">
				<p>&copy;2017 SSGen</p>	
			</footer>
		</div>
	</div>
	
</body>
</html>