<!DOCTYPE html>
<html>
<head>
	<title>Secret Santa</title>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css"> <!--Browser reset-->
	<link rel="stylesheet" href="/assets/css/styles.css" type="text/css"> <!--External Style Sheet-->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<meta name="viewport" content="width=device-width, initial-scale=1"> <!--Ensure proper rendering and touch zooming-->
</head>
<body>

	<!--NAVBAR-->
	<div class="container-fluid">
		<div class="row">

			<nav class="navbar navbar-custom">
				<div class="navbar-header">
					<a class="navbar-brand" href="#" style="color:white">Secret Santa</a>
				</div>
				<!--Links to home, login page, signup page-->
				<ul class="nav navbar-nav">
			        <li><a href="/" style="color:white">Home</a></li>			
			    </ul>

				<ul class="nav navbar-nav navbar-right">
			        <li><a href="/login" style="color:blue">Login</a></li>
			        <li><a href="/register" style="color:blue">Sign Up</a></li>  			
			    </ul>
			</nav>

		</div>
	</div>

	<!--JUMBOTRON-->
	<div class="container-fluid">
		<div class="row">
			<div class="jumbotron">

				<div class="col-sm-offset-3 col-sm-6">
					<div class="well login-well">
						<h1 class="text-center">Secret Santa Generator</h1><br>
						<p>This Secret Santa generator will make your holiday gift exchange this season as stress-free as possible</p><br>
						<p>Create an account or sign in if you already have one:</p>
						<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a><br>
						<a href="/register" class="btn btn-default"><span class="fa fa-user"></span> Sign Up</a>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!--FOOTER-->
	<div class="container-fluid">
		<div class="row">
			<footer class="footer text-center">
				<p>&copy;2017 SSGen</p>	
			</footer>
		</div>
	</div>

</body>
</html>
