<!DOCTYPE html>
<html>
<head>
	<title>Secret Santa</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
	<div class="container">
		<div class="jumbotron text-center">
			<h1>Secret Santa Generator</h1>
			<p>Enter the names and email addresses for the gift exchange. Our Secret Santa Generator will handle the rest!</p>
			<p>Login or Register:</p>
			<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
			<a href="/register" class="btn btn-default"><span class="fa fa-user"></span> Register</a>
		</div>
	</div>
</body>
</html>
