.navbar-custom{
	background-color: #3399ff;
	color:white;
}
.row{
	padding:0px 15px 0px 10px;
}
.jumbotron{
	margin-top:-20px;
	height: 890px;
	background-image: url("../images/jumbo1.jpg");
	background-size: cover;
}
.footer{
	height: 50px;
	padding-top: 15px;
	margin-top:-30px;
	background: #3399ff;
	color: white;
}
.login-well{
	height: 540px;
	background-image:url("../images/snow-background.jpg");
}
.signup-well{
	background-image:url("../images/snow-background.jpg");
}
hr.style1{
	border-top: 1px solid #8c8b8b;
}
